/* Utils */
.ms-rounded-15 {
  border-radius: 15px;
}

.ms-img-thumbnail {
  padding: 2px;
  background-color: #fff;
  border: 2px solid #0070d1;
  max-width: 100%;
  height: auto;
  box-sizing: content-box;
  margin-top: -4px;
}

.ms-btn-primary {
  color: #fff;
  background-color: #0070d1;
  border-width: 2px;
}

.ms-btn-primary:hover {
  color: #fff;
  background-color: #0070d1;
  border-color: #fff;
  border-width: 2px;
  box-shadow: 0 0 0 2px #0070d1;
}

.ms-btn-dark {
  color: #fff;
  background-color: #000;
  border-width: 2px;
  padding: 0 0.75rem;
}

.ms-btn-dark:hover {
  color: #fff;
  background-color: #646970;
  border-color: #fff;
  border-width: 2px;
  box-shadow: 0 0 0 2px #646970;
  padding: 0 0.75rem;
}

.ms-btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-width: 2px;
}

.ms-btn-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #000;
  border-width: 2px;
  box-shadow: 0 0 0 2px #dc3545;
}

.ms-btn-light {
  color: #000;
  background-color: #f9fafb;
  border-width: 2px;
}

.ms-btn-light:hover {
  color: #000;
  background-color: #f9fafb;
  border-color: #000;
  border-width: 2px;
  box-shadow: 0 0 0 2px #f9fafb;
}

.ms-btn-ps-plus {
  background-color: #d9dadc;
}

.ms-btn-ps-plus:hover {
  background-color: #d9dadc;
  box-shadow: 0 0 0 3px rgba(217, 218, 220, 0.5);
}


/* Header */
header {
  height: 106px;
}

.brand {
  height: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav img[alt=chevron-down-solid-hover] {
  display: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #0070d1;
}

.navbar-light .navbar-nav .nav-link:hover img[alt=chevron-down-solid] {
  display: none;
}

.navbar-light .navbar-nav .nav-link:hover img[alt=chevron-down-solid-hover] {
  display: inline-block;
}



/* Main */
.jumbotron {
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

#jumbo-1 {
  margin-top: 106px;
  background-image: url("../img/jumbo-bg.png");
}

#game-list img:hover {
  transform: translate(0, -10px);
}

#game-list img {
  transition: transform 0.5s;
}


#jumbo-2 {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#new-releases {
  background-color: #1f1f1f;
}

#ps-plus {
  background-color: #bebcbb;
}

#ps-now {
  background-color: #161c3b;
}


/* Footer */
footer {
  background-color: #00439c;
}

img[alt=language] {
  width: 3%;
}


.ps5-first-card {
  border-bottom: 3px solid #0070d1;
}

.ps5-card {
  filter: opacity(60%);
  transition: filter 0.7s;
}

.ps5-card:hover {
  filter: opacity(1);
}