/* Utils */
.ms-rounded-15 {
  border-radius: 15px;
}

.ms-font-weight-500 {
  font-weight: 500;
}

.ms-w-60 {
  width: 60%;
}

.ms-bg-light {
  background-color: #fff;
}

.ms-bg-dark {
  background-color: #000;
}

.ms-img-thumbnail {
  padding: 2px;
  background-color: #fff;
  border: 2px solid #0070d1;
  max-width: 100%;
  height: auto;
  box-sizing: content-box;
  margin-top: -4px;
}

.ms-text-primary {
  color: #0070d1;
}

.ms-btn {
  border-width: 2px;
  margin-bottom: 2px;
  color: #fff;
}

.ms-btn-primary {
  background-color: #0070d1;
}

.ms-btn-primary:hover {
  color: #fff;
  background-color: #0070d1;
  border-color: #fff;
  box-shadow: 0 0 0 2px #0070d1;
}

.ms-btn-dark {
  background-color: #363636;
}

.ms-btn-dark:hover {
  color: #fff;
  background-color: #646970;
  border-color: #fff;
  box-shadow: 0 0 0 2px #646970;
}

.ms-btn-danger {
  background-color: #cd3d0f;
}

.ms-btn-danger:hover {
  color: #fff;
  background-color: #cd3d0f;
  border-color: #000;
  box-shadow: 0 0 0 2px #cd3d0f;
}

.ms-btn-light {
  color: #000;
  background-color: #f9fafb;
}

.ms-btn-light:hover {
  color: #000;
  background-color: #f9fafb;
  border-color: #000;
  box-shadow: 0 0 0 2px #f9fafb;
}

.ms-btn-ps-plus {
  color: #0070d1;
  background-color: #d9dadc;
}

.ms-btn-ps-plus:hover {
  color: #0070d1;
  background-color: #d9dadc;
  box-shadow: 0 0 0 3px rgba(217, 218, 220, 0.5);
}

a {
  display: block;
}


/* Header */
.brand {
  height: 36px;
}

.ms-navbar-padding {
  padding: 2px 0;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav img[alt=chevron-down-solid-hover] {
  display: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #0070d1;
}

.navbar-light .navbar-nav .nav-link:hover img[alt=chevron-down-solid] {
  display: none;
}

.navbar-light .navbar-nav .nav-link:hover img[alt=chevron-down-solid-hover] {
  display: inline-block;
}



/* Main */
.jumbotron {
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

#jumbo-1 {
  margin-top: 100px;
  background-image: url("../img/jumbo-bg.png");
}

#game-list img:hover {
  transform: translate(0, -10px);
}

#game-list img {
  transition: transform 0.5s;
}

#ps5-console .row:last-child div:first-child {
  border-bottom: 3px solid #0070d1;
  filter: opacity(1);
}

#ps5-console .ps5-card {
  filter: opacity(60%);
  transition: filter 0.8s;
}

#ps5-console .ps5-card p {
  color: #000;
}

#ps5-console .ps5-card:hover {
  filter: opacity(1);
}

#jumbo-2 {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#new-releases {
  background-color: #1f1f1f;
}

#ps-plus {
  background-color: #bebcbb;
}

#ps-now {
  background-color: #161c3b;
}



/* Footer */
footer {
  background-color: #00439c;
}

footer img[alt=language] {
  width: 3%;
}


