/* Utils */
.ms-rounded-15 {
  border-radius: 15px;
}

/* Header */
header {
  height: 106px;
}

.brand {
  height: 30px;
}


/* Main */
.jumbotron {
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  
}

#jumbo-1 {
  margin-top: 106px;
  background-image: url("../img/jumbo-bg.png");
}

#jumbo-2 {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#new-releases {
  background-color: #1f1f1f;
}

.ms-card-body {
  flex: 1 1 auto;
  padding: 0 1rem;
}

#ps-plus {
  background-color: #bebcbb;
}

.ms-btn-ps-plus {
  background-color: #d9dadc;
}