body {
  overflow-x: hidden;
}



/* Header */
header {
  height: 106px;
}

.brand {
  height: 30px;
}


/* Main */
.jumbotron {
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  
}

#jumbo-1 .jumbotron {
  margin-top: 106px;
  background-image: url(".././img/jumbo-bg.png");
}

#jumbo-1 .jumbotron .row {
  position: absolute;
  bottom: 13%;
}

#game-list img {
  border-radius: 15px;
}