/* Utils */
.ms-rounded-15 {
  border-radius: 15px;
}

.ms-img-thumbnail {
  padding: 2px;
  background-color: #fff;
  border: 2px solid #0070d1;
  max-width: 100%;
  height: auto;
  box-sizing: content-box;
  margin-top: -4px;
}


/* Header */
header {
  height: 106px;
}

.brand {
  height: 30px;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

.navbar-light .navbar-nav img[alt=chevron-down-solid-hover] {
  display: none;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #0070d1;
}

.navbar-light .navbar-nav .nav-link:hover img[alt=chevron-down-solid] {
  display: none;
}

.navbar-light .navbar-nav .nav-link:hover img[alt=chevron-down-solid-hover] {
  display: inline-block;
}



/* Main */
.jumbotron {
  height: 620px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
}

#jumbo-1 {
  margin-top: 106px;
  background-image: url("../img/jumbo-bg.png");
}

#game-list img:hover {
  transform: translate(0, -10px);
}

#game-list img {
  transition: transform 0.5s;
}


#jumbo-2 {
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#new-releases {
  background-color: #1f1f1f;
}

#ps-plus {
  background-color: #bebcbb;
}

.ms-btn-ps-plus {
  background-color: #d9dadc;
}

#ps-now {
  background-color: #161c3b;
}


/* Footer */
footer {
  background-color: #00439c;
}

img[alt=language] {
  width: 3%;
}
